<!DOCTYPE html>
<html>

<head>
  <%### Keep in sync with views/layouts/_auth0.html.erb ###%>

  <script src="https://cdn.auth0.com/js/auth0/8.7.0/auth0.min.js"></script>
  <script type="text/javascript">
    var auth0 = new auth0.WebAuth({
      domain: <%= ENV['AUTH0_DOMAIN'].to_json.html_safe %>,
      redirectUri: <%= ENV['AUTH0_CALLBACK_URL'].to_json.html_safe %>,
      clientID: <%= ENV['AUTH0_CLIENT_ID'].to_json.html_safe %>
    });
    auth0.crossOriginAuthenticationCallback();
  </script>
</head>

<body></body>

</html>
