<div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is the website of Northstar National Ski Patrol.</p>
  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button"
       onclick="signIn()">Sign in</a>
  </p>
</div>
