<div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is the website of Northstar National Ski Patrol.</p>
  <p>
    <%= button_tag type: :button, class: 'btn btn-primary btn-lg',
      data: { toggle: 'modal', target: '#joinModal' } do %>Join<% end %>
  </p>
</div>

<div class="modal fade" id="joinModal" tabindex="-1" role="dialog"
     aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="joinModalLabel">Join</h4>
        </div>
        <div class="modal-body">
          <p>
            We are no longer accepting patrol candidates for the 2017/2018
            season.
          </p>
          <p>
            If you are interested in joining our patrol in a future season,
            please email <%= mail_to 'join@nsnsp.org' %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
                  data-dismiss="modal">OK</button>
        </div>
    </div>
  </div>
</div>
