

<% if locals[:commitments].present? %>
  <ul>
    <% locals[:commitments].each do |commitment| %>
      <li>
        <span class="label <%= commitment.class.bootstrap_label_class %>"
              ><%= commitment.class.display %></span>
        <%= commitment.user.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="none">Nobody</p>
<% end %>
