<h3><%= locals[:date].try(:strftime, '%A, %-m/%-d/%y') %></h3>

<% if locals[:commitments].present? %>
  <ul>
    <% locals[:commitments].each do |commitment| %>
      <li>
        <span class="label label-danger"><%= commitment.class %></span>
        <%= commitment.user.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="none">Nobody</p>
<% end %>
