<div class="well">
  <h1>Commitment</h1>

  <%= render 'shared/versions_table', locals: { object: @commitment } %>

  <%= link_to 'Back', commitments_path(date: @commitment.date),
    class: 'btn btn-default' %>
  <%= link_to 'Destroy', commitment_path(@commitment), method: :delete,
    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
