// Place all the styles related to the commitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.none {
  color: #ececec;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.day {
  h2 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  ul {
    list-style-type: circle;
    padding-left: 2em;
  }

  li {
    margin-bottom: .2em;
    font-size: 15px;

    .label {
      font-size: 11px;
      margin-right: .2em;
      position: relative;
      top: -1px;
    }
  }
}

.fc-day-grid {
  cursor: pointer;
}

.fc-day {
  &.fc-today {
    background-color: white;
  }

  &.selected {
    background-color: lemonChiffon;
  }
}

.fc-past {
  background-color: whiteSmoke;

  &.fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30);

    &.fc-other-month {
      opacity: 0.15;
      filter: alpha(opacity=15);
    }
  }
}
