// Place all the styles related to the commitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 767px) {
  #calendar-container {
    display: none;
  }

  .my-days {
    .cancel {
      display: none;
    }
  }
}

.date-input-container {
  text-align: right;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .date-input-container {
    display: none;
  }
}

.none {
  color: #ececec;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.commitment-list {
  list-style-type: circle;
  padding-left: 2em;
  margin-top: 10px;

  li {
    margin-top: .25em;

    &:first-child {
      margin-top: 0;
    }

    .label {
      font-size: 11px;
      margin-right: .2em;
      position: relative;
      top: -1px;
    }
  }
}

.day {
  .actions {
    text-align: right;

    .action {
      display: inline-block;
    }
  }
}

.my-days {
  .cancel {
    color: tomato;

    &:hover {
      color: red;
    }
  }

  .current {
    font-weight: bold;
  }
}

body.wait {
  .fc-day-grid {
    cursor: inherit;
  }
}

.fc-day-grid {
  cursor: pointer;
}

.fc-day {
  &.fc-today {
    background-color: aliceBlue;
  }

  &.selected {
    background-color: lemonChiffon;
  }
}

.fc-past {
  background-color: whiteSmoke;

  &.fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30);

    &.fc-other-month {
      opacity: 0.15;
      filter: alpha(opacity=15);
    }
  }
}

#signupModal {
  .radio {
    margin-left: 15px;
  }
}
