body {
  background: image-url('background.jpg') no-repeat left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.wait {
    cursor: wait;
  }
}

.navbar-brand {
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  background-image: asset-data-url('sawblade-60x64.png');

  padding-left: 58px !important;
}

footer {
  font-weight: 300;
  text-shadow: 0px 0px 2px #000;
}

footer,
footer .links a {
  color: white;
}

@media (min-width: 768px) {
  footer .links {
    float: right;
  }
}
