body.unauthenticated {
  background: image-url('background.jpg') no-repeat right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  background-image: asset-data-url('sawblade-60x64.png');

  padding-left: 58px !important;
}

footer {
  margin-top: 2em;
  font-weight: 300;
  text-shadow: 0px 0px 2px #fff;
}
