.navbar-brand {
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  background-image: asset-data-url('sawblade-60x64.png');

  padding-left: 58px !important;
}
