@media (max-width: 767px) {
  .user-commitments {
    .cancel {
      display: none;
    }
  }
}

.user-commitments {
  .cancel {
    color: tomato;

    &:hover {
      color: red;
    }
  }

  .current {
    font-weight: bold;
  }
}
